<div class="row">
  <div class="col-md-5">
    <!--it will be emmited from the DocumentListComponent-->
    <!--It will detect the selectedDocumentEvent from the DocumentListComponent and assigned
    the Document object passed up with the event to the selectedDocument class variable-->
    <app-document-list>
    </app-document-list>
  </div>
  <div class="col-md-7">
    <!--assigned the value of the selectedDocument variable into the document input variable in DocumentDetailComponent-->
    <app-document-detail
      [document] = "selectedDocument"
      *ngIf="selectedDocument"></app-document-detail>
  </div>
</div>

<!--
<div class="row">
  <div class="col-md-3">
    <app-document-list></app-document-list>
  </div>
  <div class="col-md-9">
<app-document-detail

></app-document-detail>
  </div>
</div>
-->
