<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="row">
      <p class="contact_name">
        {{contact?.name}}
      </p>
      <div class="row">
        <div class="col-sm-6 pull-left">
          <img src="{{contact?.imageUrl}}"
               alt="{{contact?.name}}"
               class="img-responsive"
               style="max-height: 110px;
                   padding-left: 12px"/>
        </div>

        <div class="row col-xs-6">
          <button class="btn btn-primary pull-right button_edit">Edit</button>
          <button class="btn btn-danger pull-right button_delete">Delete</button>
        </div>
      </div>
    </div>

  </div>
  <div class="panel-body">
    <p class="paragraph1">Email:{{contact?.email}}</p>
    <p class="paragraph1">Phone:{{contact?.phone}}</p>
  </div>
</div>
